/* event-form.component.css */

form {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form > label {
  margin-bottom: 5px;
}

form > input {
  margin-bottom: 15px;
}

button {
  align-self: flex-end;
  width: 120px;
}
